@import url("../../styles/reset.css");



#highlight {
    background-color: #0066CC;
    scroll-margin-top: 10rem;
    color: #f1f1f1;
    font-weight: bold;
}

main {
    margin-bottom: 10rem;
    padding: 2rem;
}

nav {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 2rem;
}


h3,
h4 {
    display: block;
    width: 100%;
    margin: 1rem;
    text-align: center;
    background-color: #f2f2f2;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.213);
    scroll-margin-top: 2rem;
}

h3:target,
h4:target {
    border: solid 1px;
    box-shadow: 10px 10px 100px orange;
}