@import '../../styles/reset.css';


#index {
    display: flex;
    flex-direction: column;
}



i {
    font-weight: bold;
    color: #FFA07A;
}



dt{
    color: #0066CC;
    font-weight: bold;
}
dd{
    border-left: solid 1px #ccc;
}

ul{
    margin-left: 2rem;
}