@import '../../styles/reset.css';


#index {
    display: flex;
    flex-direction: column;
}


details div:first-of-type {
    overflow: auto;
    max-height: 50dvh;
    padding: 1rem;
}


i {
    font-weight: bold;
    color: #FFA07A;
}



dt{
    color: #0066CC;
    font-weight: bold;
}
dd{
    margin: 1rem 0;
}
dd::before{
    content: "- ";
}